<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="oracledbms.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=DESKTOP-5IH3S49:1521/XE;DBA PRIVILEGE=SYSDBA;PASSWORD=Ilovescience08;USER ID=SYS"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>